html {
    scroll-behavior: smooth;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
td,th {
	text-align: center;
}

div {
    text-align: center;
    align: center;
}